<!DOCTYPE html>
<html>
  <head>
    <title>w1 device overview</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      th, td {
        border: 1px solid #dddddd;
        padding: 8px;
      }
      tr:nth-child(even) {
        background-color: #dddddd;
      }
      table {
        border-collapse: collapse;      
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <table>
        <tr>
          <th>hardwareId</th>
          <th>raw data</th>
          <th>crc checksum</th>
          <th>crc ok</th>
          <th>data</th>
        </tr>
        {% for slave, data_dict in d.items() %}
        <tr>
          <td>{{ slave }}</td>
          <td>{{ data_dict['raw'] }}</td>
          <td>{{ data_dict['crc'] }}</td>
          <td>{{ data_dict['crc_good'] }}</td>
          <td>{{ data_dict['data'] }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
